
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          select page
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" [routerLink]="['/cv']" routerLinkActive="active">CV</a></li>
          <li><a class="dropdown-item" [routerLink]="['/carteVisite']" routerLinkActive="active">Carte Visite</a></li>
          <li><a class="dropdown-item" [routerLink]="['/cvEmbauche']" routerLinkActive="active">CV Embauche</a></li>
        </ul>
      </div>