    <div class="dropdown m-2">
        <button class="btn bg-dark text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          select page
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" [routerLink]="['/cv']" routerLinkActive="active">CV</a></li>
          <li><a class="dropdown-item" [routerLink]="['/addCv']" routerLinkActive="active">Add Cv</a></li>
          <li><a class="dropdown-item" [routerLink]="['/cvEmbauche']" routerLinkActive="active">CV Embauche</a></li>
          <li><a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
        </ul>
    </div>
